[{dd, [{serverconfigs,
        [
         {server, "Freenode", "irc.freenode.net", 6667, "dingd1ng",
          [ {"#yfl",
             [dd_morning, dd_version, dd_url_handler, dd_le_handler, dd_command_handler, dd_activity, dd_versioncheck, dd_voicejoin]},
            {"#yfb",
             [dd_morning, dd_version, dd_url_handler, dd_le_handler, dd_command_handler, dd_activity]},
            {"#erlounge",
             [dd_command_handler, dd_le_handler]},
            {"#testerlounge",
             [dd_morning, dd_version, dd_url_handler, dd_le_handler, dd_command_handler, dd_activity]} ],
          [dd_version, dd_freenode, dd_dcc] }
        ]
       }]
 }].
